apiVersion: v1
kind: Service
metadata:
  name: pinger-exporter
  namespace: pinger-exporter
  labels:
    app: pinger-exporter
    app.kubernetes.io/part-of: pinger-exporter
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
    prometheus.io/path: "/metrics"
spec:
  ports:
  - name: "80"
    port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    app: pinger-exporter
  type: ClusterIP

